*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #10203d;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.react-datepicker-wrapper input {
  height: 40px;
  width: 100%;
  padding: 10px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid;
  border-color: inherit;
  border-radius: 5px;
  background: var(--chakra-colors-white);
}
input.firstInput {
  border-radius: 6px 0 0 6px;
  padding-left: 10px;
  width: 125px;
  margin-left: 16px;
}
input.secondInput {
  border-radius: 0 6px 6px 0;
  width: 125px;
  padding-right: 10px;
  margin-right: 16px;
}

.autocomplete-results.addressSearch {
  position: absolute;
  background: white;
  z-index: 99;
  width: 100%;
}
.autocomplete-result.addressSearch {
  padding: 10px;
  font-size: 12px;
}

.autocomplete-result.addressSearch:hover {
  cursor: pointer;
  background: rgb(206, 201, 201);
}

.borderRadius {
  border-radius: 5px;
}
.borderRadius2 {
  border-radius: 10px;
}
.relative {
  position: relative;
}
